//output:test5.html, pretty: false
//{
    var1: 'Holaaaa',
    iAmANumber: 33.5,
    iAmAFunction: function(a){
      return a + 5;
    }
  }
html
  div
    label=var1
  label=iAmANumber
  div
    span=iAmAFunction(4)
